body {
    /* background-color: rgba(0, 250, 154, 0.356); */
    /* background-color: black; */
    /* background: url('img/triangle-1805473_960_720.png'); */
    text-align: center;
    background-color: rgba(245, 245, 245, 0.521);
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
/* background:url(../img/triangle-1805473_960_720.png); */
}

h1 {
    padding-top: .4em;
    border-top: solid rgb(55, 182, 174);
    padding-bottom: .5em;
    border-bottom: solid rgb(55, 182, 174);
    /* text-align: center; */

}
h2 {
    padding-top: .4em;
    border-top: solid rgb(55, 182, 174);
    padding-bottom: .5em;
    border-bottom: solid rgb(55, 182, 174);
    /* text-align: center; */
}

#social {
    text-transform: uppercase;
}
#icon{
    font-size: 2em;
    text-decoration: none;
    color: rgb(55, 182, 174);
    padding-top: .5em;
    padding-bottom: .5em;
    margin: .5em;
}

#icon:hover, #resumeDownload:hover {
    color: rgb(92, 161, 218);
}

#resumeDownload {
    background-color: red;
    color: white;
    text-decoration: none;
    /* text-decoration-color: white; */
}


hr{
    color: rgb(55, 182, 174);
    border-top: .05em solid;
    /* make these line shorter, like how they are in "container" */
}
/* #email {
    padding: 1em;
    margin: 1em;
} */
/* 
div {
    padding-right: 0;
} */

.relocate-work {
    color: rgba(255, 0, 0, 0.6);
    text-decoration: none;
    text-decoration-color: white;
}



/* 
img {
    width: 2em;
    height: 1em;
    
} */

/* #img{
    background:fixed;
    background-image: url(img/triangle-1805473_960_720.png);
    background-size: cover;

} */
/* .geo {
    background-image: url(img/triangle-1805473_960_720.png)
}
img {
    transform: rotate(90deg);
} */
/* h3 {
    border-bottom: 1px solid rgb(55, 182, 174);
    bottom: 5px;
    border-left: 10px;
    border-right: 10px;
} */